
/* button {
  appearance: auto;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  box-sizing: border-box;
  background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
  margin: 0em;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
} */

.login-button {
  background-color: #1DB954;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  border-radius: 32px;
  margin: 16px 0;
  padding: 8px 36px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: none;
  border: none;
  text-decoration: none;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.reactify-logo {
  font: san-serif;
  position: absolute;
  right: 20;
  top: 20;
}
